<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome to SuperStructure!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/superstructure/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href=""/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        {% block body %}{% endblock %}

        <script type="text/javascript" src="{{ asset('bundles/superstructure/js/bootstrap.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
