<button class="btn btn-danger" onclick="SuperStructureBundle.Product.markFav()">Favorite this product</button>

<script type="text/javascript" src="{{ asset('bundles/superstructure/product/markfav.js') }}"></script>

