<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> User Name
            <span class="glyphicon glyphicon-chevron-down"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a href="#"><span class="glyphicon glyphicon-log-out"></span> Logi välja</a>
            </li>
        </ul>
    </li>
</ul>